# Ignore metadata from common editors and IDEs.
*.sublime-project
*.sublime-workspace
.idea/
nbproject/

# Ignore build folders.
bin/
bower_components/
build/
node_modules/
vendor/

# Ignore OS specific files
.DS_Store

# Other ignored files
npm-debug.log
